:root {
  // colors
  --bg-color: #0b0b0b;
  --main-color: #fff9c0;
  --extra-color: #ffba41;

  // gradients
  --main-gradient: linear-gradient(180deg, rgba(255, 186, 65, 0.876812) 0%, rgba(255, 251, 189, 0.876812) 100%);
  --main-black-gradient: linear-gradient(90deg, #ffba41 15.79%, #0b0b0b 100%);
}
