@import "../mixins/text-mixin";

.lora {
  font-family: var(--lora-font-family);
}

.elephant {
  font-family: var(--elephant-font-family);
}

.h1-text {
  @include text-mixin(var(--elephant-font-family), var(--h1-text));
}

.h2-text {
  @include text-mixin(var(--lora-font-family), var(--h2-text), 600);
  text-transform: capitalize;
  color: var(--main-color);
}
.title-text {
  @include text-mixin(var(--lora-font-family), var(--title-text), 700);
}

.button-text {
  @include text-mixin(var(--poppins-font-family), var(--body-text), 600);
}

.body-text {
  @include text-mixin(var(--lora-font-family), var(--body-text));

  &_lg {
    font-size: var(--body-lg-text);
  }

  &_bold {
    font-weight: 700;
  }
}

.gradient-main {
  background: var(--main-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
